In [1]:
#library

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import datetime as dt
import os

In [14]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'amitMIS.xlsx',
 'case study 1.ipynb',
 'D2_dataStructures.ipynb',
 'D3_numpyPandas.ipynb',
 'first.ipynb',
 'list creation.ipynb',
 'mtcarsas.csv',
 'pract 1 list.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb']

In [18]:
df=pd.read_excel('amitMIS.xlsx', skiprows=1)

In [21]:
df.head(2)

,Sr.No,Employee code,Name of the Employee,Designation,Department,Category,DOJ,End of Contract,Salary,DOB,Qualification,Expiriance,Registration No.,Registration No. Validity,Remarks
0,1,29,Dr. Ashwini L. Bargaje,Clinical Assistant,Medical,RMO,2020-04-12,2023-04-11,21000,11.07.1995,BHMS,2Years,75634,NaN,NaN
1,2,25,Mr. Pratap V.Khedkar,Executive In HR,HR,Admin,2021-07-01,2022-06-30,25000,14.11.1979,Bachelor Of Arts,1Year,NaN,NaN,NaN

In [25]:
df.columns
print(len(df.columns))

15

In [26]:
newCol = ['ser','empID','empName','design','dept', 'category','DOJ','DOL','salary','DOB','qualifications','expr',
          'regdNo','regdVal','remarks']
len(newCol)

15

In [27]:
df.columns = newCol
df.head()

,ser,empID,empName,design,dept,category,DOJ,DOL,salary,DOB,qualifications,expr,regdNo,regdVal,remarks
0,1,29,Dr. Ashwini L. Bargaje,Clinical Assistant,Medical,RMO,2020-04-12,2023-04-11,21000,11.07.1995,BHMS,2Years,75634,NaN,NaN
1,2,25,Mr. Pratap V.Khedkar,Executive In HR,HR,Admin,2021-07-01,2022-06-30,25000,14.11.1979,Bachelor Of Arts,1Year,NaN,NaN,NaN
2,3,27,Mr. Shivdatta P. Gholap,Radiology Technician,Radiology,Technician,2021-07-01,2022-06-30,25000,18.12.1988,X-Raay Technician In Diploma,6Years,NaN,NaN,NaN
3,4,30,Dr. Akshay W. Sonar,Clinical Assistant,Medical,RMO,2021-07-27,2022-07-26,18000,09.05.1997,BHMS,4Years,1516138419,NaN,NaN
4,5,23,Dr. Akshay M. Jadhav,Clinical Assistant,Medical,RMO,2022-01-01,2022-12-31,19000,14.10.1996,BAMS,1Years,77980,24.02.2021,NaN